.parent {
    -fx-font-family: Rockwell;
    -fx-background-color: #66CCCC;
}

.chart-pie-label {
    -fx-fill: white;
    -fx-font-size: 15;
}

.button {
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #eeeeee;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #354E7FF2;
    -fx-background-radius: 5px;
    -fx-border-radius: 5 5 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: white;
    -fx-font-size: 13;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 5 5 5 5;
}

.table-row-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.66);
    -fx-text-background-color: white;
}

.table-row-cell:odd {
    -fx-background-color: rgba(255, 255, 255, 0.38);
}

.table-row-cell:even {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #354E7FF2;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #354E7FF2;
}